body {
    background-image: url(./assets/glasgowCat.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    border: 5px solid aqua;
    background-color: orange;
    font: bold;
    color: white
}

.button-center {
    margin: 0;
    position: absolute;
    top: 40%;
    margin-left: 45%;
}

#fact1 {
    margin-top: 35%;
    background-color: limegreen;
    font-size: 25px;
    text-align: center;
    opacity: 0.75;
}

#fact2 {
    margin-top: 20%;
    background-color: yellow;
    font-size: 15x;
    text-align: center;
    opacity: 0.75;
}

#fact3 {
    margin-top: 30%;
    background-color: orange;
    font-size: 25px;
    text-align: center;
    opacity: 0.75;
}

#fact4 {
    margin-top: 15%;
    background-color: pink;
    font-size: 20px;
    margin-left: 25px;
    text-align: center;
    opacity: 0.75;
}

#fact5 {
    margin-top: 20%;
    background-color: aqua;
    font-size: 25px;
    margin-right: 25px;
    text-align: center;
    opacity: 0.75;
}